body{
    color: black;
    font-size: 16px;
    width: 100%;
}

.wrapper {
    width: 80%;
}

.executionConfigs{
    margin-bottom: 20px;
    width: 100%;
}

.testRequirements {
    width: 100%;
}

.red{
    background-color:rgba(227, 27, 27, 0.5);
}

table, th, td {
    padding: 2px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
    background-color: aquamarine;
}

pre {
    top: 30px;
    overflow:auto;
    font-size: 14px;
}

th {
    text-transform: uppercase;
}

.test-success {
    color: green;
}

.test-fail {
    color: red;
}

meter {
    background: none;
    background-color: lightgreen;
    border: 1px solid black;
    display: inline;
    margin-left: 10px;
    color: black;
    border-radius: 25px;
}

meter::-webkit-meter-optimum-value {
    background: lightcoral;
    border-radius: 25px 0 0 25px;
}
meter::-moz-meter-bar { 
    background: lightcoral;
    border-radius: 25px 0 0 25px;
}
