* {
    margin: 0;
}
body{
    color: black;
    font-family: Garamond, serif;
    font-size: 16px;
    width: 100%;
}

.icon-title{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    border-bottom: 1px solid black
}

.icon{
    height: 100px;
}

.title{
    display: inline;
    top: 50%;
    position: absolute;
    transform: translate(0, -15px);
}

ul.breadcrumbs {
    padding: 6px 20px;
    font-size: 14px;
     border-bottom: 1px solid black;
}

ul.breadcrumbs li {
    display: inline;
}

ul.breadcrumbs li+li:before {
    padding: 5px 2px;
    color: black;
    content: "> ";
}
ul.breadcrumbs li a {
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 2px;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }


 .suspBar{
     width: 100%;
     min-width: 50px;
     height: auto;
     min-height: 10px;
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     background-color: green;
     border-radius: 25px;
     border: 1px solid black;
 }

 .redBar {
     grid-column-start: 1;
     background-color: red;
     border: none;
     border-radius: 25px;
 }
