.executionConfigs{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.testRequirements {
    margin-left:20px;
}

.subTitle{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

table, th, td {
    padding: 2px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;

}

table{
    width: 90vw;
    margin-bottom: 15px;
}

td > a{
    display:block;
    text-decoration:none;
}

tr:hover {
    background-color: aquamarine;
}

th {
    text-transform: uppercase;
}

.test-success {
    color: green;
}

.test-fail {
    color: red;
}


 .suspBar{
     width: 100%;
     min-width: 50px;
     height: auto;
     min-height: 10px;
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     background-color: green;
     border-radius: 25px;
     border: 1px solid black;
 }

 .redBar {
     grid-column-start: 1;
     background-color: red;
     border: none;
     border-radius: 25px;
 }